RewriteEngine on

<FilesMatch "\.(html|htm|js|css)$">
  FileETag None
  <IfModule mod_headers.c>
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 12 Jan 1980 05:00:00 GMT"
  </IfModule>
</FilesMatch>

AddOutputFilterByType DEFLATE text/html application/json

AddDefaultCharset utf-8
AddCharset utf-8 .htm .html .js .css .json
    
# Set CORS headers

# Handle the preflight OPTIONS request
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]

# Set CORS headers for all requests
SetEnvIf Origin "(.*)" AccessControlAllowOrigin=$0
Header always set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
Header always set Access-Control-Allow-Credentials "true"
Header always set Access-Control-Allow-Methods "GET, POST, DELETE, OPTIONS"
Header always set Access-Control-Allow-Headers "Origin, Content-Type, X-Auth-Token, Authorization"
Header always set Access-Control-Expose-Headers "X-Auth-Token"


# redirect https://{domain} -> index.php
RewriteRule ^$ /index.php [END]
# redirect client to same and exit
RewriteRule ^(client|server|archive)/(.*)$ $1/$2 [END]
# redirect all root files to same and exit
RewriteRule ^((.*)\.(php|css|html|js|ico|jpg))$ /$1 [END]
# Redirect all else to JSON.php
RewriteRule (.*) server/json/json.php [QSA,END]

