RewriteEngine on

<FilesMatch "\.(html|htm|js|css)$">
  FileETag None
  <IfModule mod_headers.c>
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "Wed, 12 Jan 1980 05:00:00 GMT"
  </IfModule>
</FilesMatch>

AddDefaultCharset utf-8
AddCharset utf-8 .htm .html .js .css .json

# redirect https://bee.fish -> index.php
RewriteRule ^$ /index.php [END]
# redirect client to same and exit
RewriteRule ^client/(.*)$ client/$1 [END]
# redirect server to same and exit
RewriteRule ^server/(.*)$ server/$1 [END]
# redirect all root files to same and exit
RewriteRule ^((.*)\.(php|css|html|js))$ /$1 [END]

# Redirect all else to JSON.php
RewriteRule ^(.*)$ server/json/JSON.php [END]
