#Header set Access-Control-Allow-Credentials "true"
#Header set Access-Control-Allow-Origin "*"
#Header set Access-Control-Allow-Origin "https://dev.bee.fish:8000"
#Header set Access-Control-Allow-Headers "x-auth-token"
#Header set Access-Control-Expose-Headers "x-auth-token"
#Header set Access-Control-Allow-Methods "GET, POST, DELETE"

#SetEnvIf Origin "https://(.*)" AccessControlAllowOrigin=$0
#Header set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
#Header merge Vary Origin

#Header set Access-Control-Allow-Credentials "true"
#Header set Access-Control-Allow-Origin "*"
#Header set Access-Control-Allow-Origin "https://dev.bee.fish:8000"
#Header set Access-Control-Allow-Headers "x-auth-token"
#Header set Access-Control-Expose-Headers "x-auth-token"
#Header set Access-Control-Allow-Methods "GET, POST, DELETE"

#SetEnvIf Origin "^https://(.*)$" AccessControlAllowOrigin=$0
#Header set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
#Header merge Vary Origin


